.container__menu-title{
  color: #FFF;
}
.container__menu-title > h1{
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 170px;
  justify-content: center;
  margin: 15px 0 15px 0;
}
.container__menu-title > hr {
  margin: 5px 0 5px 0;
}
