<section class="container__small-card">
  <section class="small-card__picture">
    <img
      src="https://media.licdn.com/dms/image/D4E12AQGwRtCTCJF3wA/article-cover_image-shrink_720_1280/0/1695146088881?e=1714608000&v=beta&t=0k0-NdXFVMOgt-RAqEaSx60GYphAVoqfr1JAo89-uwQ"
      alt="small card picture"
    />
  </section>
  <section class="small-card__subtitle">
    <h3>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum minima
        sed nulla numquam sapiente harum nihil, recusandae deserunt consectetur
        possimus tempora dolore ipsum quos qui earum quis aliquid exercitationem
        quasi.
      </a>
    </h3>
  </section>
</section>
<hr>
