.container__big-car {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  max-width: calc(50vw - 15px);
  padding: 15px;
}
.big-card__picture, .big-card__picture > img {
  width: 100%;
}
.big-card__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.big-card__description > p {
  color: #9c9999;
  font-size: 1rem;
}
